.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-size: 20px;
    margin-right: 20px;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-size: 30px;

}
.navbar button{
    font-size: 20px;
}
.navbar {
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}

.header_img{
    background: url("/static/to_dos/header.png") 100% no-repeat;
    height: 50%;
    text-align: center;
}
.header_img button{
    margin-top: 10%;
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 8px 10px 5px rgb(44, 44, 44);
}
.header_img button:hover{
    color: white;
}
.remaining_tasks{
    display: inline-block;
    height: 15%;
    width: 49%;
    background-color:rgb(209, 209, 209);
    text-align: center;
    color: gray;
    vertical-align: top;

}
.tasks{
    padding: 0px;
    margin: 0px;
    width: 100%;
}
header nav {
    margin: 0px;
}
.tasks h3{
    font-size: 40px;
    text-shadow: 3px 3px 5px black;
}
.completed_tasks{
    display: inline-block;
    height: 15%;
    width: 50%;
    background-color: grey;
    text-align: center;
    color: rgb(235, 232, 232);
    
}
.greeting{
    padding: 10px;
    font-family: sans-serif;
}
.header_img a:link, a:visited, a:hover{
    text-decoration: none;
    color: white;
}
.daily {
    height: 10%;
    background:#f8883d;
    width: 100%;
    color:white;
    text-align: center;
    font-size: 40px;
    font-family:sans-serif;
    padding: 2%;
    border: none;
    text-shadow: 5px 5px 5px rgb(49, 49, 49);
}
.daily:hover{
    background-color: rgb(201, 200, 200);
    color:#f8883d;
    text-shadow: none;
    border: none;
}
.footer{
    height: 8%;
    background-color: rgb(255, 253, 253);
    text-align: center;
    font-size: 20px;
    color: grey;
    padding: 20px;
    border-top: 1px solid gray;
}

.container{
    display: inline-block;
    width: 20%;
    text-align: center;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 25px;
    text-align: center;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 25px;
}
.checkboxs {
   
    height: 25px;
    width: 25px;
    text-align: center;
  }
.form_error{
    color: rgb(233, 106, 106);
}

table td{
    width: 30%;
}
.container{
   padding: 20px;
}
table tbody{
    width: 100%;
}
.row form{
    height: 30%;
}
.modal-content{
    height: 25%;
    width: 100%;
    font-size: 20px;
    
}
.navbar img{
    width: 40%;
    height: 25%;
}
.all{
    background: linear-gradient(to right, rgba(251, 180, 67, 1) 0%, rgba(247, 153, 13, 1) 100%);
}