.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-size: 20px;
    margin-right: 20px;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-size: 30px;

}
.navbar button{
    font-size: 20px;
}
.navbar {
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}

.header_img{
    background: url("/static/to_dos/header.png") 100%;
    height: 50%;
    text-align: center;
}
.header_img button{
    margin-top: 15%;
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 8px 10px 5px rgb(44, 44, 44);
}
.remaining_tasks{
    display: inline-block;
    height: 15%;
    width: 49%;
    background-color:rgb(209, 209, 209);
    text-align: center;
    color: gray;
    vertical-align: top;

}
.tasks{
    padding: 0px;
    margin: 0px;
    width: 100%;
}
header nav {
    margin: 0px;
}
.tasks h3{
    font-size: 40px;
    text-shadow: 3px 3px 5px black;
}
.completed_tasks{
    display: inline-block;
    height: 15%;
    width: 50%;
    background-color: grey;
    text-align: center;
    color: rgb(235, 232, 232);
    
}
.greeting{
    padding: 10px;
    font-family: monospace;
}
.header_img a:link, a:visited, a:hover{
    text-decoration: none;
    color: white;
}

.container{
  display: inline-block;
}

.completed_due_date{
  width: 120px;
  color: red;
}