.new_user {
  display: inline-block;
  vertical-align: top;
  margin: 80px 0 0 0;
  display: none;
}

.login {
  display: inline-block;
  margin: 80px 0 0 120px;
  vertical-align: top;
}

.login_input{
  display: inline-block;
}

.home_header{
  background-color: rgb(245, 2, 2);
  height: 30px;
}

.sign_up {
  float: right;
  margin: 5px 50px 0 0
}
